/* variables */
:root {
    --clr-primary-300: hsla(144, 70%, 58%, 1);
    --clr-primary-400: hsla(142, 93%, 65%, 1);

    --clr-secondary-700: hsla(215, 28%, 17%, 1);
    --clr-secondary-600: hsla(215, 30%, 22%, 1);

    --clr-accent-400: hsla(160, 84%, 39%, 1);

    --clr-neutral-800: hsla(0, 0%, 11%, 1);
    --clr-neutral-500: hsla(215, 28%, 17%, 1);
    --clr-neutral-100: hsla(152, 81%, 98%, 1);
    --clr-neutral-200: #D5D4D8;

    --ff-primary: "Karla", sans-serif;
    --ff-secondary: "Inter", sans-serif;

    --fw-extra-bold: 800;
    --fw-regular: 400;
    --fw-medium: 500;
}
/* general styles */

body {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-medium);
    font-size: 1.25rem;
    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-800);
    margin: 1.5rem;
    display: grid;
}

/* container styles */

.container {
    min-width: 500px;
    width: 700px;
    height: 650px;
    padding: 7rem 3.5rem;
    background-color: var(--clr-secondary-700);
    border-radius: 7px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main-img {
    width: 600px;
    margin-top: 1.5rem;
}
/* title style */

.title-1 {
    font-family: var(--ff-primary);
    color: var(--clr-neutral-100);
    font-size: 3rem;
    
}

.title-2 {
    font-family: var(--ff-primary);
    color: var(--clr-primary-300);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

/* grid-area style */

.grid-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 4.5rem;
}

.grid-area hr {
    grid-column: span 2;
    border: 1px solid var(--clr-secondary-600);
}

/* generator btn style */

.generator-btn {
    padding: 0.5rem 0.2rem;
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    cursor: pointer;
}

.generator-btn:active {
    background-color: var(--clr-neutral-100);
    color: var(--clr-accent-400);
}

/* passwords styles */

.password {
    background-color: var(--clr-secondary-600);
    color: var(--clr-primary-400);
    min-width: 2.1875em;
    max-width: 14.1875em;
    height: 2.4375em;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */

.footer {
    text-align: center;
    font-size: 11px; text-align: center; margin-top: 4rem;
}

.footer a {
    color: var(--clr-accent-400);
}

/* responsive styles for smaller screens */

@media screen and (max-width: 1350px) {
    
    body {
        margin: 0 1rem;
    }
    
    main {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .container {
        min-width: 300px;
        max-width: 800px;
        padding: 1rem;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .main-img {
        max-width: 325px;
        margin: 0;
    }

    .title-1 {
        height: 60px;
    }

    .title-2 {
        line-height: 0.8;
        margin-bottom: 1rem;
    }

    .generator-btn {
        grid-column: span 2;
    }

    .grid-area {
        row-gap: 1.2rem;
        margin-top: 1.5rem;
    }

    .password {
        grid-column: span 2;
        max-width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1350px) {
    .password {
        grid-column: span 1;
    }

    .generator-btn {
        width: 55%;
        justify-self: center;
    }

}